---
- name: get pycsw version
  git: >-
    repo=https://github.com/GSA/pycsw.git
    dest={{ pycsw_virtualenv_dir }}/src/pycsw
    version={{ pycsw_app_version }}
    force=yes
    umask=0022

- name: run setup build for pycsw
  command: chdir={{ pycsw_virtualenv_dir }}/src/pycsw/ ../../bin/python setup.py build
  tags: skip_ansible_lint

- name: run setup install for pycsw
  command: chdir={{ pycsw_virtualenv_dir }}/src/pycsw/ ../../bin/python setup.py install
  tags: skip_ansible_lint

- name: link pycsw configuration files
  file: src={{ item.src }} dest={{ item.dst }} state=link force=yes owner=root group=root
  with_items:
    - dst: /etc/ckan/pycsw.wsgi
      src: "{{ pycsw_virtualenv_dir }}/src/pycsw/csw.wsgi"
    - dst: /etc/cron.d/pycsw
      src: "{{ pycsw_virtualenv_dir }}/src/pycsw/.datagov/crontab"

- name: install pycsw-all.cfg
  template: src=pycsw-cfg.j2 dest=/etc/ckan/pycsw-all.cfg mode=0640 owner=root group=www-data
  vars:
    csw_url_path: "{{ csw_url_path_all }}"
    csw_abstract: "{{ csw_abstract_all }}"
    csw_filter: "{{ csw_filter_all }}"

- name: install pycsw-collection.cfg
  template: src=pycsw-cfg.j2 dest=/etc/ckan/pycsw-collection.cfg mode=0640 owner=root group=www-data
  vars:
    csw_url_path: "{{ csw_url_path_collection }}"
    csw_abstract: "{{ csw_abstract_collection }}"
    csw_filter: "{{ csw_filter_collection }}"
